.city-forecast-name {
    margin-top:  3rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-weight: bolder;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: auto;
    padding: 0.5rem;
}

@media only screen and (max-width: 500px) {
    .city-forecast-name {
        padding: 0.45rem;
        margin-right: 0rem;
        border-radius: 30px;
        margin-top:  0rem;
        margin-bottom: 1rem;
    }
}